{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <h1>Supprimer un film</h1>

    {# afficher le formulaire #}
    {{ form(form, {'attr': {'novalidate':'novalidate'}}) }}

{% endblock %}