{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <h1>Modifier un utilisateur</h1>

    {# afficher le formulaire #}
    {{ form(form, {'attr': {'novalidate':'novalidate'}}) }}

{% endblock %}

{% block title %}Modifier un utilisateur | {{ parent() }}{% endblock %}