{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>

    {# afficher le formulaire #}
    {{ form(form, {'attr': {'novalidate':'novalidate'}}) }}

{% endblock %}

{% block title %}Inscription | {{ parent() }}{% endblock %}